/node_modules
/public/hot
/public/fonts
/public/storage
/public/images
/public/js
/public/sitemap.xml
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
hormozgroup_db_volume/
public/images
public/videos
